.header {
    color: lightseagreen;
    text-align: center;
}

.card {
    background-color: lightcyan;
    padding: 25px;
    margin: 45px;
    margin-top: 35px;
}

.nav {
    text-align: center;
    position: fixed;
    top: 62px;
    width: 100%;
    background: lightgoldenrodyellow;
}

.img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pink {
    box-sizing: border-box;
    margin-bottom: 10px;
    border: white, 20px;
    width: block;
    height: 100px;
    background: #F5C6D6;
}
.magenta1 {
    box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
    border: white, 20px;
    width: 145px;
    height: 100px;
    background: #EE2E84;
}

.magenta2 {
    box-sizing: border-box;
    position: absolute;
    right: 51%;
    margin-bottom: 10px;
    border: white, 20px;
    width: 146px;
    height: 100px;
    background: #EE2E84;
}

.magenta3 {
    box-sizing: border-box;
    position: absolute;
    left: 51%;
    margin-bottom: 10px;
    border: white, 20px;
    width: 146px;
    height: 100px;
    background: #EE2E84;
}

.magenta4 {
    box-sizing: border-box;
    float: right;
    margin-bottom: 10px;
    border: white, 20px;
    width: 145px;
    height: 100px;
    background: #EE2E84;
}

.blue1 {
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    margin-bottom: 10px;
    border: white, 20px;
    width: 310px;
    height: 100px;
    background: #85CFD8;
}

.blue2 {
    box-sizing: border-box;
    float: right;
    margin-left: 56px;
    margin-bottom: 10px;
    border: white, 20px;
    width: 310px;
    height: 100px;
    background: #85CFD8;
}

.green {
    box-sizing: border-box;
    float: left;
    border: white, 20px;
    width: 465px;
    height: 100px;
    background: #8DC63F;
}

.orange {
    box-sizing: border-box;
    float: right;
    border: white, 20px;
    width: 155px;
    height: 100px;
    background: #E76E34;
}